body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }

  .calculator-container > h1{
    font-size: 1.7em;
    margin-bottom: 30px;
}
  
  .calculator-container {
    margin: 50px auto;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: background-color 0.3s ease;
    text-align: center;
    position: relative;
    overflow: hidden;
    animation: glowing-border 4s infinite alternate;
  }
  
  .calculator-container:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 8px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  
  .calculator-container:hover:before {
    opacity: 1;
  }
  
  @keyframes glowing-border {
    0% {
        box-shadow: 0 0 80px greenyellow, 0 0 60px chartreuse;
    }
    10% {
        box-shadow: 0 0 80px lawngreen, 0 0 60px lime;
    }
    20%{
        box-shadow: 0 0 80px limegreen, 0 0 60px palegreen;
    }
    30% {
        box-shadow: 0 0 80px lightgreen, 0 0 60px mediumspringgreen;
        }
    40%{
        box-shadow: 0 0 80px seagreen, 0 0 60px forestgreen;
    }
    50%{
        box-shadow: 0 0 80px green, 0 0 60px darkgreen;
    }
    60%{
        box-shadow: 0 0 80px yellowgreen, 0 0 60px olivedrab;
    }
    70%{
        box-shadow: 0 0 80px olive, 0 0 36px darkolivegreen;
    }
    80% {
        box-shadow: 0 0 80px mediumaquamarine, 0 0 60px darkseagreen;
        }
    90% {
        box-shadow: 0 0 80px lightseagreen, 0 0 60px darkcyan;
    }
    100%{
        box-shadow: 0 0 80px teal, 0 0 60px cyan;
    }
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-align: right;
    font-size: 2em;
    color: #777;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10%;
  }

  input[type="text"] {
    padding: 10px;
    border-color: black !important;
    transition: all 0.3s ease-in-out;
    &::placeholder {
        color: #aaa;
        }
    }
  
  button {
    font-weight: bold;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: green;
    }
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .error-message,
  .success-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
  }
  
  .error-message {
    color: red;
    background-color: #fdd;
  }
  
  .success-message {
    color: green;
    background-color: #dfd;
  }
  
  /* Media Queries */
@media only screen and (max-width: 600px) {
    .calculator-container {
        max-width: 300px;
    }
}

@media screen and (max-width: 480px) {
    .calculator-container {
        max-width: 250px;
    }
}

@media screen and (max-width: 380px) {
    .calculator-container {
        max-width: 200px;
    }
    .input-container{
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 320px) {
    .calculator-container {
        max-width: 180px;
    }
}

@media screen and (max-width: 270px) {
    .calculator-container {
        max-width: 160px;
    }
    .calculator-container > h1{
        font-size: 1.7em;
        margin-bottom: 30px;
    }
    .result, .operator {
        font-size: 2em;
        }
}

@media screen and (max-width: 240px) {
    .calculator-container {
        max-width: 140px;
    }
    .input-container{
        margin-bottom: 15%;
    }
    input[type="text"] {
        width: 100%;
    }
}

@media screen and (max-width: 210px) {
    .calculator-container {
        max-width: 120px;
    }
}